@font-face {
    font-family: 'ArialNarrow-Bold';
    src: url('../fonts/ArialNarrow Bold.eot');
    src: url('../fonts/ArialNarrow Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ArialNarrow Bold.woff') format('woff'),
         url('../fonts/ArialNarrow Bold.ttf') format('truetype'),
         url('../fonts/ArialNarrow Bold.otf') format('otf');
}