body {
	background: #F6F4E8;
	font-family: "Arial";
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
h2 {
	font-size: 18px;
	font-weight: bold;
	color: white;
}
p, a, ul, li, input, label, button, textarea {
    list-style: none;
    margin: 0;
    padding: 0;
}
p {
	font-size: 15px;
}
a.btn_yellow {
	border: none;
	outline: none;
	color: white;
	font-family: "Arial";
	background: #c39300;
	font-size: 16px;
	font-style: italic;
	padding: 5px 25px 7px 25px;
}
a.btn_yellow:hover {
	text-decoration: none;
	opacity: .9;
}
a.btn_yellow span {
	border-bottom: 1px solid;
}
a.btn_yellow:hover span {
	border: none;
}

/* Tittle
----------------------------------------------------------------*/
div.title {
	padding-left: 25px;
	padding-right: 25px;
	text-align: center;
}
div.title h1 {
	color: #c39300;
	font-family: 'ArialNarrow-Bold';
	font-size: 40px;
	background: url(../img/title_line.jpg) repeat-x 50%;
}
div.title h1 span {
	background: #F6F4E8;
	display: inline-block;
	padding-left: 50px;
	padding-right: 50px;
}
/* Header
------------------------------------------------------------------------------------ */
.header_container {
	padding-top: 12px;
}
.header_container .language a {
	margin-right: 2px;
}
.header_container .logo {
	text-align: center;
}
.header_container .logo img {
	margin-top: -27px;
	width: 100%;
}
.header_container .left_text {
	text-align: right;
}
.header_container .left_text,
.header_container .right_text {
	font-family: 'ArialNarrow-Bold';
	font-size: 11px;
	color: #373737;
	letter-spacing: 4px;
	line-height: 22px;
	padding-top: 40px;
}
.header_container .navbar {
	min-height: 24px;
	margin-bottom: 0;
	border: none;
	margin-top: 15px;
}
.header_container .navbar-nav {
	width: 100%;
	text-align: center;
}
.header_container .navbar-nav>li {
	float: none;
	display: inline-block;
	margin-right: 20px;
	margin-left: 20px;
}
.header_container .navbar-nav>li>a {
	padding: 2px 15px 1px 15px;
	color: #101010;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
}
.header_container .navbar-nav>li.active>a {
	color: #c39300
}
.header_container .navbar-nav>li>a:hover {
	background: #323232;
	color: #fff;
}
/* slider
-------------------------------------------------------------------------------*/
.slider_container .slider {
	padding: 12px 15px;
	border: 1px solid #e5e2d9;
	background: white;
	position: relative;
	margin-top: 10px;
}
.slider_container .carousel-inner .item img {
	width: 100%;
}
.slider_container .carousel-control {
	height: 70px;
	width: 80px;
	background: url(../img/arrows_slider.png) no-repeat;
	top: 100%;
	margin-top: -76px;
	opacity: 1;
}
.slider_container .left {
	background-position: 0px -5px;
	left: 1%;
}
.slider_container .right {
	background-position: -81px -5px;
	right: 1%;
}
.slider_container .carousel-indicators {
	bottom: -5px;
}
.slider_container .carousel-indicators li {
	margin: 0;
	margin-left: 3px;
	margin-right: 2px;
}
.slider_container .slider .shadow {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
}
.slider_container .slider ol li {
	width: 14px;
	height: 14px;
	background: white;
	border-radius: 50%;
	border: none;
}
.slider_container .slider ol li.active {
	background: #7d7a70;
}
/* welcome_container
------------------------------------------------------------------------------*/
.welcome_container {
	padding-bottom: 10px;
	margin-top: 40px;
}
.welcome_container .title {
	margin-bottom: 45px;
}
.welcome_container .welcome_content p {
	margin-bottom: 10px;
}
.welcome_container .welcome_content p span {
	font-weight: bold;
}
.welcome_container .order ul li {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.welcome_container .order ul li:nth-child(2n) {
	margin-right: 0px;
}
.welcome_container .order .btn_yellow {
	float: right;
}
/* News/Actions
------------------------------------------------------------------------------------ */
.news_container,
.actions_container {
	margin-top: 50px;
}
.news_container ul,
.actions_container ul {
	margin-top: 40px;
}
.news_container li,
.actions_container li {
	width: 288px;
	float: left;
	margin-right: 68px;
}
.news_container li:nth-child(3n),
.actions_container li:nth-child(3n) {
	margin-right: 0;
}
.news_container li .img_container,
.actions_container li .img_container {
	position: relative;
}
.news_container li .img_container:after,
.actions_container li .img_container:after {
	content: '';
	width: 96%;
	height: 20px;
	background:url(../img/shadow_small.png) no-repeat;
	background-size: cover;
	position: absolute;
	top: 100%;
	left: 3%;
}
.news_container li .img_container img,
.actions_container li .img_container img {
	width: 100%;
	height: 360px;
}
.news_container li h2,
.actions_container li h2 {
	margin-top: 15px;
	position: relative;
	z-index: 1;
}
.news_container li h2 a,
.actions_container li h2 a {
	font-size: 18px;
	font-weight: bold;
	color: #414242;
	text-decoration: none;
}
.news_container li h2 a:hover,
.actions_container li h2 a:hover {
	border-bottom: 1px solid;
	color: #4091bf;
	box-shadow: 0 1px 0 0 #D3DDDE,
				inset 0 -1px 0 0 #84AAC9;
}
.news_container li .text,
.actions_container li .text {
	color: #4e4e4e;
	font-size: 14px;
	margin-top: 12px;
}
.news_container li .text p {
	display: inline;
}
.actions_container li .text p {
	margin-top: 12px;
}
.news_container li .text a {
	float: right;
	color: #3a79ae;
	text-decoration: none;
	font-style: italic;
}
.news_container li .text a span {
	border-bottom: 1px solid;
}
.news_container li .text a:hover span {
	border-bottom: none;
}
.news_container .btn_yellow,
.actions_container .btn_yellow {
	margin-top: 20px;
	clear: both;
}
/* Menu
------------------------------------------------------------------------------------ */
.menu_container {
	text-align: center;
	margin-top: 20px;
}
.menu_container a img {
	border: 2px solid #fff;
	margin-left: -4px;
}
.menu_container a:hover {
	opacity: .7;
}
.menu_container .first_level {
	margin-top: 25px;
}
/* kids_container
-------------------------------------------------------------------------------------*/
.kids_container {
	background: url(../img/bg_kids.jpg) no-repeat;
	background-size: cover;
	padding: 50px 0 105px;
	margin-top: 70px;
}
.kids_container h1 {
	text-align: center;
	color: white;
	margin-bottom: 50px;
}
.kids_container ul li {
	width: 240px;
	height: 240px;
	display: inline-block;
	margin-right: 9px;
	margin-bottom: 15px;
}
.kids_container ul li:nth-child(4n) {
	margin-right: 0px;
}
.kids_container ul li a {
	display: block;
	position: relative;
}
.kids_container ul li a #first_cont {
	position: absolute;
	bottom: 15px;
	width: 240px;
}
.kids_container ul li a #first_cont h2 {
	text-align: center;
	text-shadow: 1px 1px 2px black, 0 0 1em black;
}
.kids_container ul li a #second_cont {
	position: absolute;
	height: 240px;
	width: 240px;
	top: 0px;
	left: 0px;
	padding: 25px 20px 0px 15px;
	background: rgba(0, 0, 0, .5);
	display: none;
}
.kids_container ul li a #second_cont h2 {
	margin-bottom: 5px;
	text-align: center;
}
.kids_container ul li a #second_cont p {
	font-size: 13px;
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 1em black;
}
.kids_container ul li a:hover #second_cont {
	display: block;
}
.kids_container ul li a:hover #first_cont {
	display: none;
}
/* Gallery
------------------------------------------------------------------------------------ */
.gallery_container {
	margin-top: 60px;
}
.gallery .tabs {
	width: 100%;
	text-align: center;
	margin-top: 20px;
}
.gallery .tabs li {
	display: inline-block;
	color: #949494;
	font-size: 27px;
	cursor: pointer;
	position: relative;
	padding: 4px 30px;
	margin-left: 16px;
	margin-right: 16px;
    font-family: 'ArialNarrow-Regular';
}
.gallery .tabs li:hover {
	color: #fff;
	background: #BB9400;
}
.gallery .tabs li.current {
	color: #fff;
	background: #BB9400;
}
.gallery .box {
	display: none;
	margin-top: 45px;
}
.gallery .box.visible {
	display: block;
}
.gallery .carousel-inner>.item .img_container {
	 margin-right: 25px;
	 display: inline-block;
	 position: relative;
	 margin-bottom: 20px;
}
.gallery .carousel-inner>.item .img_container:after {
	content: '';
	width: 100%;
	height: 20px;
	background:url(../img/shadow_small.png) no-repeat;
	background-size: cover;
	position: absolute;
	top: 100%;
	left: 0;
}
.gallery .carousel-inner>.item .img_container:last-child {
	margin-right: 0;
}
.gallery .carousel-inner>.item img {
	 width: 314px;
	 height: 232px;
}
.gallery .carousel-control {
	width: 41px;
	height: 41px;
	opacity: 1;
	top: 50%;
	margin-top: -20px;
}
.gallery .carousel-control.left {
	background: url(../img/gallery/prev.png) no-repeat;
	margin-left: 2px;
}
.gallery .carousel-control.right {
	background: url(../img/gallery/next.png) no-repeat;
	margin-right: 2px;
}
/* Contacts
------------------------------------------------------------------------------------ */
.contacts {
	margin-top: 40px;
	padding-bottom: 75px;
}
.contacts .title {
	margin-bottom: 30px;
}
.contacts iframe {
	width: 100%;
	height: 600px;
}
.contacts .logo_container {
	text-align: center;
}
.contacts .logo_container img {
	width: 230px;
}
.contacts p {
	margin-top: 15px;
	line-height: 18px;
	color: #2f2f2f;
}
.contacts p.phone {
	font-weight: bold;
}
.contacts p a {
	font-style: italic;
	font-size: 14px;
	color: #2f2f2f;
	text-decoration: none;
	border-bottom: 1px solid #2f2f2f;
}
.contacts p a:hover {
	border-bottom: none;
}
.contacts #map-canvas {
	width: 100%;
	height: 600px;
}
.contacts #bullet {
	width: 200px;
	overflow-y: hidden;
}
.contacts #bullet p {
	margin: 0;
}
/* Footer
------------------------------------------------------------------------------------ */
.footer {
	padding: 50px 0;
	text-align: center;
}
